#wp-block-themeisle-blocks-sharing-icons-9b5a5637 .is-facebook {--icon-bg-color: var(--nv-dark-bg);}
#wp-block-themeisle-blocks-sharing-icons-9b5a5637 .is-twitter {--icon-bg-color: #131313;}
#wp-block-themeisle-blocks-sharing-icons-9b5a5637 .is-linkedin {--icon-bg-color: #001932;}
#wp-block-themeisle-blocks-sharing-icons-9b5a5637 .is-whatsapp {--icon-bg-color: #132014;}
#wp-block-themeisle-blocks-sharing-icons-9b5a5637 {--icons-gap: 25px;--border-radius: 50px;}